@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary1: hsl(257, 40%, 49%);
    --primary2: hsl(300, 69%, 71%);
}
*, ::before, ::after {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-image: url(../images/bg-desktop.svg);
    background-color: var(--primary1);
    background-repeat: no-repeat;
}
main {
    width: 90%;
    margin: 0 auto;
}
.logo {
    margin: 4rem 0px 4.7rem 0px;
    width: 200px;
}
.section-container{
    display: flex;
    margin-bottom: 1.5rem;
}
.section1 {
    
}
.section2 {
 margin-left: 3.5rem;
 max-width: 500px;
 
}
h1 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    color: white;
}
p {
    font-family: 'Open Sans', sans-serif;
    color:white;
    max-width: 460px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
   
}
h3 {
    font-family: 'Poppins',sans-serif;
   
}
.button {
    text-decoration: none;
    padding: 15px 55px 15px 55px;
    background-color: white;
    max-width: 150px;
    text-align: center;
    border-radius: 30px;
    font-weight: 400;
    box-shadow: 3px 3px 10px 5px  rgb(80, 58, 136);
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fab {
    font-size: 1.3rem;
    border: 1.5px solid white;
    padding: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    margin: 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
img {
    width: 100%;
}
@media only screen and (max-width: 1024px) {
    body 
    .section-container {
    flex-wrap: wrap;
       
    }
    main {
        width: 80%;
        margin: 0 auto;
    }
    .section2 {
        margin-left: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2rem;
        color: white;
        text-align: center;
    }
    .logo {
        margin: 2rem 0px 3.5rem 0px;
        width: 130px;
    }
    .section1 {

        margin-bottom: 1rem;
    }
    p {
     text-align: center;
        max-width: 600px;
        font-size: unset;
    }
    h3 {
        margin-left: 3rem;
        font-size: unset;
        margin-right: 3rem;
        margin-bottom: 3rem;
        
    }
    .button {
        text-decoration: none;
        padding: 10px 70px 10px 70px;
        background-color: white;
        max-width: 150px;
        text-align: center;
        border-radius: 30px;
        font-weight: 400;
        
    }
    .fab {
        font-size: .8rem;
        border: 1.3px solid white;
        padding: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: white;
        margin: 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
     
    }
}
@media only screen and (max-width: 400px){
    body {
        background-image: url(../images/bg-mobile.svg);
        
    }
}